body{
  background: rgb(6,0,106) !important;
  background: linear-gradient(149deg, rgba(6,0,106,1) 0%, rgba(0,47,82,1) 50%, rgba(8,0,159,1) 100%)!important;
}

.button{
    display: inline-block;
    cursor: pointer;
    /* Sizing */
    padding: 0.75rem 1.5rem;
    /* Styling */
    font-family:'Neue Helvetica Bold';
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.09);
    border-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blue-button{
    background-color: #3DC1F3;
    margin:1rem;
}

.blue-button:hover{
    background-color: #16a2d4;
}

.login-content{
    /* Positioning */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Sizing */
    width: 100vw;
    min-height: 100vh;
    /* Z-Positioning */
    z-index: 1;
    /* Styling */
    overflow-x: hidden;
}

.login-card{
    /* Positioning */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* Sizing */
    width: 90%;
    min-height: 0;
    padding: 1.5rem;
    /* Styling */
    word-wrap: break-word;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: solid 1px hsla(0, 0%, 100%, 0.5);
    border-left: solid 1px hsla(0, 0%, 100%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.1);
    overflow: hidden;
    /* Z-Positioning */
    z-index: 2;
}

.login-card-form{
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    /* Styling */
    color: white;
}

.login-input {
    /* Sizing */
    width: 80%;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0rem;
    /* Styling */
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
}

.login-input:focus{
    outline: 0;
}

.logo-col{
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Styling */
    color: white;
}

.login-logo{
    height: 200px;
}

.login-title{
    text-align: center;
    font-size: 2rem;
    font-family:'Neue Helvetica Light';
}

.login-links{
    font-family:'Neue Helvetica Thin';
    text-align: center;
}

.login-errors{
    color:#ffffff;
    font-family: 'Neue Helvetica Medium';
}

.link{
    text-decoration: none;
}

.link:hover{
    color: #39cbfb;
}

@media(max-width:870px){
    .login-logo{
        height: 150px;
    }
}

@media(max-width:450px){
    .login-logo{
        height: 100px;
    }

    .login-title{
        font-size: 1.3rem;
    }

    .link{
        font-size: 0.7rem;
    }

    .login-input {
        font-size: 0.7rem;
    }
}

.colored-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 140, 255), rgb(255, 0, 0));
    z-index: 0;
}
