<!--Header-->
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<script>
    // Check if user is authentificated or not
    {% if user.is_authenticated %}
        is_authenticated = true;
    {% else %}
        is_authenticated = false;
    {% endif %}

    // Check if user is staff or not
    {% if user.is_staff %}
        is_staff = true;
    {% else %}
        is_staff = false;
    {% endif %}

    // Check if user is admin or not
    {% if user.is_superuser %}
        is_superuser = true;
    {% else %}
        is_superuser = false;
    {% endif %}
</script>