{% load static %}
{% csrf_token %}
<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <!--Header-->
    {% include "header.html" %}
    <!--Content-->
    <div class="content">

        <!--Main Content-->
        <div class="content-main">

            <div id="Basic"></div>

        </div><!--End of Main Content-->

    </div><!--End of Content-->

    <script>
        window.react_mount = document.getElementById('Basic');
        cas_url = '{% url 'cas_ng_login' %}';
    </script>
    <script src="{% static 'react/login.bundle.js' %}"></script>

</body><!--End of Body-->

</html><!--End of Document-->